html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #050505;
  color: white;
  font-family: "Poppins", sans-serif;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}